<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Cream Tester</title>

   <!-- Bootstrap for glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- External Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/xnq5cbg.css">

    <!-- FOUNDATION Style Sheet -->
    <link rel="stylesheet" href="/static-files/assets/css/foundation.css">
    
     <!-- Customized Sheet -->
    <link rel="stylesheet" href="/static-files/assets/css/style.css">
   
  </head>

  <body>
    
    {{{ body }}}

    <!-- JQuery SCRIPT TAG -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- FOUNDATION SCRIPT TAG S-->
    <script src="/static-files/assets/js/vendor/what-input.js"></script>
    <script src="/static-files/assets/js/vendor/foundation.js"></script>

    <!-- Customized Script -->
    <script src="/static-files/assets/js/script.js"></script>
    <script src="/static-files/assets/js/icecream.js"></script>

  </body>
</html>
