<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Cream </title>

    <link rel="stylesheet" href="assets/css/foundation.css">
    <link rel="stylesheet" href="assets/css/style.css">
   

  </head>
  <body>
    
    {{{ body }}}

    <!-- FOUNDATION SCRIPT TAGS-->
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/what-input.js"></script>
   
    <script src="assets/js/vendor/foundation.js"></script>

    <!-- Customized Script -->
    <script src="assets/js/script.js"></script>

  </body>
</html>
