    
    <!-- Header -->
    <header class="sticky-shrinknav-header">

      <h1 class="sticky-shrinknav-header-title">Title Here!</h1>
      <ul class="menu align-center sticky-shrinknav-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Play</a></li>
      </ul>

    </header>
    
     <!-- Main Container -->
    <div class="main-container grid-container" style="margin-bottom: 4vh">
     
      <!-- About -->
      <div class="grid-x grid-padding-x" style="margin-top: 10vh; margin-bottom: 10vh">
        <div class="large-12 cell">
          <div class="callout">
           
            <h3>We&rsquo;re stoked you want to try Foundation! </h3>
            <div class="grid-x grid-padding-x">
              <div class="large-4 medium-4 cell">
                 <img style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540">   
              </div>
              
              <div class="large-8 cell">
                  Try the icecream 
                  <hr>
                  <div class="grid-x grid-padding-x">

                    <div class="large-6 medium-6 cell">
                       <a href="#" class="success button">Menu</a><br/>
                    </div>

                    <div class="large-6 medium-6 cell">
                      <a href="#" class="success button">Play</a><br/>
                    </div>

                  </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <!-- Menu -->
      <div class="grid-x grid-padding-x" style="margin-top: 10vh; margin-bottom: 10vh">
        <div class="large-12 cell">
          <div class="callout" style="height: 72vh;">

            <h3>Check out our awesome flavors! </h3>
            <div class="grid-x grid-padding-x" style="margin-top: 2vh">
              
              <div class="large-3 medium-3 small-6 cell" style="padding-top: 2vh">
                  <img class="thumbnail" style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540">   
              </div>
              <div class="large-3 medium-3 small-6 cell" style="padding-top: 2vh">
                  <img class="thumbnail" style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540">   
              </div>
               <div class="large-3 medium-3 small-6  cell" style="padding-top: 2vh">
                  <img class="thumbnail" style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540">   
              </div>
                <div class="large-3 medium-3 small-6 cell" style="padding-top: 2vh">
                  <img class="thumbnail" style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540">   
              </div>
            </div>
            <div class="grid-x grid-padding-x" style="margin-top: 2vh">
              
              <div class="large-3 medium-3 small-6 cell" style="padding-top: 2vh">
                  <img class="thumbnail" style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540">   
              </div>
              <div class="large-3 medium-3 small-6 cell" style="padding-top: 2vh">
                  <img class="thumbnail" style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540">   
              </div>
               <div class="large-3 medium-3 small-6  cell" style="padding-top: 2vh">
                  <img class="thumbnail" style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540">   
              </div>
                <div class="large-3 medium-3 small-6 cell" style="padding-top: 2vh">
                  <img class="thumbnail" style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540">   
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <!-- Play -->
        <div class="grid-x grid-padding-x">
      <div class="callout" style="height: 72vh; margin-bottom: 10vh">
        <div class="grid-x grid-padding-x" style="padding-top: 4vh">
          
          <div class="large-8 medium-8 cell">
            <!-- INSERT IMAGE -->
            <div class="grid-x grid-padding-x">
              <div class="large-12 cell">
                    <img style="margin: 0 auto; display: block"src="http://via.placeholder.com/540x540"> 
                </div>
            </div>
          </div>
          <!-- Flavor options -->
          <div class="large-4 medium-4 cell">
            <form>
              <!-- Selection Menu -->
              <div class="large-12 cell">
                <h5>Menu</h5>
                  <select>
                    <option value="" >Pick a flavor</option>
                    <option value="husker">Strawberry</option>
                    <option value="starbuck">Vanilla</option>
                    <option value="hotdog">Chocolate</option>
                    <option value="apollo">Coffee</option>
                  </select>
              </div>
              <!-- Add a new flavor -->
              <div class="large-12 cell">
                <h5>Add a new flavor</h5>
                  <div class="input-group">
                    <input type="text"class="input-group-field" placeholder="Select a menu item or create your flavor!" />
                    <span class="input-group-label">add</span>
                  </div>
              </div>
              <!-- Feed Me -->
              <div class="large-12 cell">
                <h5>FEED ME! </h5>
                <div class="callout" >
                  <div id="transitionList" class="callout" data-toggler data-animate="slide-in-up">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore praesentium sint alias dolorum qui vel quaerat, libero consequatur non esse asperiores veritatis commodi, odit eum ipsam nemo dicta iste aliquam.</p>
                  </div>
                  <button id="transitioner" data-toggle="transitionList" class="expanded button">Devour</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      </div>
            
    </div> <!-- End of main section -->

    {{!-- <footer style="bottom: 0!important">
 
      <ul class="menu align-center sticky-shrinknav-menu" style="bottom: 0!important">
        <li><a href="#">About</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Play</a></li>
      </ul>
    </footer> --}}
    
    