 <li>
    <div data-toggler="659xqt-toggler" data-animate="slide-in-up spin-out" class="callout secondary ease" id="motion-example-2">
        <p style="display: inline"> {{name}} </p><a 
            style="display: inline; font-weight: bold; padding-right: 4vw; padding-left: 4vw" 
            type="button" 
            data-id="{{id}}"
            data-newdevour="{{devoured}}"
            class="clear button text-right change-devoured" 
            data-toggle="motion-example-2" 
            aria-expanded="true" 
            aria-controls="motion-example-2">{{#if devoured}} | Devour | {{/if}} </a>
    </div>
</li>