
    <li class="text-center" style="border: none!important; box-shadow: 10px 10px 5px -5px rgba(182,177,184,1); line-height: 6vh;" data-toggler="659xqt-toggler" data-animate="slide-in-up spin-out" class="callout secondary ease" id="motion-example-2">
        <p style="display: inline"> {{name}} </p><a 
            style="display: inline; font-weight: bold; padding-right: 2vw; padding-left: 2vw; color: rgb(231, 53, 163)" 
            type="button" 
            data-id="{{id}}"
            data-newdevour="{{devoured}}"
            class="clear button text-right change-devoured" 
            data-toggle="motion-example-2" 
            aria-expanded="true" 
            aria-controls="motion-example-2">{{#if devoured}} | Devour | {{/if}} </a>
    </li>



