
<li class="text-left" style="border: none!important; box-shadow: 10px 10px 5px -5px rgba(182,177,184,1); line-height: 6vh;" class="callout secondary ease">
    <a style="display: inline; font-weight: bold; padding-right: 1vw; padding-left: 1vw; color: rgb(231, 53, 163)" 
    type="button" 
    data-id="{{id}}"
    data-newdevour="{{devoured}}"
    class="clear button text-right change-devoured">{{#if devoured}} | Devour | {{/if}} </a><p style="display: inline"> {{name}} </p> 
</li>
